<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New member</title>
</head>
<body>
<h3>Adding new member</h3>
<form th:method="POST" th:action="@{/people}" th:object="${person}">

        <label for="full_name">Enter full name: </label>
        <input type="text" th:field="*{full_name}" id="full_name"/>
        <div style="color:red" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}">Name Error</div>
    <br>
        <label for="year_of_birth">Enter Birth Year: </label>
        <input type="text" th:field="*{year_of_birth}" id="year_of_birth"/>
        <div style="color:red" th:if="${#fields.hasErrors('year_of_birth')}" th:errors="*{year_of_birth}">Birth Year Error</div>
    <br>
        <label for="email">Enter e-mail: </label>
        <input type="text"  th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">EMail Error</div>
    <br>
        <input type="submit" value="Create"/>

</form>

</body>
</html>