<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Member</title>
</head>
<body>
<h3>Library Member</h3>
    <p th:text="${person.getFull_name() + ', '  +  person.getYear_of_birth()}">VALUE</p>
    <p th:text="${'E-mail: ' + person.getEmail()}">VALUE</p>
<br>
<hr>
<div th:if="${books.isEmpty()==false}">
    <h4>Books:</h4>
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getTitle() + ',  ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
    </div>

    <hr>
</div>

<br>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Edit"/>
    </form>
    &nbsp;&nbsp;
    <form th:method="DELETE" th:action="@{/people/{id}/(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
<hr>
<br>
    <a href="http://localhost:8080/people">All the library members</a>
<br>
    <a href="http://localhost:8080/books">All the books</a>
</body>
</html>