<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<h3>Book</h3>
<body>
    <p th:text="${book.getTitle()}">VALUE</p>
    <p th:text="${'Author: ' + book.getAuthor()}">VALUE</p>
    <p th:text="${'Year: ' + book.getYear()}">VALUE</p>

    <div th:if="${people}">
        <span>This book is available</span>
        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
            <label for="selectedPerson">Select person:</label>
            <select th:object="${selectedPerson}" th:field="*{id}" id="selectedPerson">
                <option th:each ="person:${people}"
                        th:value="${person.getId()}"
                        th:text="${person.getFull_name()}">
                </option>
            </select>
            <input type="submit" value="Assign owner"/>
        </form>
    </div>
    <div th:if="${owner}">
        <span th:text="${'This book is being read by: ' + owner.getFull_name()}">VALUE</span>
        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
            <input type="submit" value="Release book">
        </form>
    </div>
<br>
    <form th:method="GET" th:action="@{/books/{book_id}/edit(book_id=${book.getId()})}">
        <input type="submit" value="Edit"/>
    </form>
<br>
<br>
    <form th:method="DELETE" th:action="@{/books/{id}/(id=${book.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
<hr>
<br>
    <a href="http://localhost:8080/books">All the books</a>
<br>
    <a href="http://localhost:8080/people">All the library members</a>

</body>
</html>