<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of admins</title>
</head>
<body>
<h3>List of admins:</h3>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ',  ' + person.getAge}">user</a>
</div>
<br>
<hr>
<a href="/admin/select">Add an admin</a>
<br>
<a href="/admin">Admins list</a>
<br>
<a href="/people">Back to all the persons list</a>
</body>
</html>