<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select a new admin</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="person">Select person:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each ="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"/>
    </select>
    <br>
    <br>
        <input type="submit" value="Mark person as admin"/>
</form>
<br>
<hr>
<a href="/admin">Admins list</a>
<br>
<a href="/people">All the persons</a>
</body>
</html>